// Theme colors
@theme-primary: #333333;
@theme-second: #222222;

@theme-body-color: #f1c40f;
@theme-alert-color: #f1c40f;
@theme-border-color: #f1c40f;

// Font Mixins
.serif-font() {
  font-family: 'Roboto', sans-serif;
  color: @theme-body-color;
}

// Global Components
body {
	background-color: #272626;
		text-align: center;
    overflow-x: hidden;
    .serif-font;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken(@theme-alert-color, 10%) !important;
}

a {
	outline: none;
    color: @theme-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

// Custom css
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	border: 0 solid #000;
	margin: 0;
	padding: 0;
}

.custome-panel {
	background-color: @theme-primary;
	display: inline-block;
	padding: 15px 15px;
	margin-bottom: 0;
	border: 1px solid @theme-border-color;
}

.alert-custome {
	background-color: @theme-second;
	color: @theme-alert-color;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	border: 1px solid @theme-border-color;
}

// Navigation bar style
.navbar-custom {
	background-color: #222222;
	border: none;
	height: 65px;
	border-bottom: 1px solid;
	border-radius: unset;
	margin: 0;
	.container {
		margin-top: 7px;
		width: 1275px;
		padding: 0;
	}
	.navbar-brand {
		background: @theme-second url(/img/logo.png) 0 2px no-repeat;
		padding-left: 55px;
		-webkit-background-size: 45px;
		background-size: 45px;
		color: @theme-alert-color;
		font-size: 30px;
		margin-left: 10px !important;
	}
	.navbar-nav li a {
		color: @theme-alert-color;
		font-size: 16px;
		font-weight: 700;
		border-left: 1px solid;
	}
	.sign-out {
		border-right: 1px solid;
	}
}

// Service section style
#services {
	.row {
		margin: 45px -15px;
	}
	.fa-custome {
		color: @theme-primary;
	}
	.custome-panel {
		width: 370px;
		h3 {
			margin: 0;
		}
	}
}

// Claim section style
#claim {
	.claim-banners {
		margin: 25px 0;
	}
	.claim-col {
		width: 720px;
		margin-bottom: 30px;
	}
	.banner {
		width: 100%;
	}
    .border-banner{
        border: 1px solid @theme-border-color;
  	}
	.reff {
		margin: 20px 40px 10px;
	}
}

#address {
	width: 97%;
	border: none;
	background-color: transparent;
	box-shadow: unset;
	border-bottom: 2px solid #f1c40f;
	border-radius: 0;
	color: #f1c40f;
	text-align: center;
	margin: 20px auto;
	opacity: 0.8;
}

// Footer section style
footer {
	margin-top: 30px;
	border-top: 1px solid;
	height: 40px;
	.container {
		width: 1275px;
		padding-top: 10px;
	}
}